@import '../common/variables';

.cart {
  height: 600px;
  // TODO: remove
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px
}
