@import '../common/variables';

.container {
  .cartItems {
    margin-top: spacing(2);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .cartItemsTitle {
    padding: spacing(2) spacing(2) 0;
    @include fontSize('lg');
    margin-bottom: spacing(2);
  }

  .cartItem {
    justify-self: stretch;
    padding: spacing(2);
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
  }

  .right {
    display: flex;
    flex-direction: column;
  }

  .summary {
    margin-bottom: spacing(2);
  }
}

