@import '../common/variables';

.container {
  .details {
    padding: spacing(3) spacing(3);
  }

  .column {
    display: flex;

    .card {
      width: 100%;
    }
  }

  .title {
    @include fontSize('lg');
    margin-bottom: spacing(2);
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: spacing(2);
    }
  }

  .preferences {
    margin-top: spacing(1);

    .preference {
      border-radius: 4px;
      margin-bottom: 4px;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  &.small {
    .content {
      flex-direction: column;
    }

    .info {
      &:not(:last-child) {
        margin-bottom: spacing(2);
      }
    }

    .details {
      padding: spacing(3) spacing(2);
    }
  }
}

.description {
  @include fontSize();

  .em {
    font-weight: 500;
  }
}
