@import '../common/variables';

.home {
  .hero {
    padding: spacing(20) 0;
    width: 100vw;
    background-color: aliceblue;
  }

  .content {
    width: 100%;
    max-width: $maxWidth;
    padding: 0 spacing(8);
  }

  .heroTitle {
    @include fontSize('lg');
    // margin-bottom: spacing(2);
  }

  .heroDescription {
    @include fontSize('xxl');
    font-weight: 300;
    margin-bottom: spacing(4);
  }

  .section {
    padding: spacing(12) 0;

    &.sectionImage {
      background-color: aliceblue;
    }
  }

  .sectionTitle {
    @include fontSize('xl');
    margin-bottom: spacing(2);
  }

  .sectionBody {
    margin-bottom: spacing(4);
  }

  .cta {
    display: flex;

    .ctaButton {
      min-width: 160px;
        margin: 0 spacing(2);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
  }

  &.small {
    .hero {
      padding: spacing(8) 0;
    }

    .heroTitle {
      @include fontSize('md');
      margin-bottom: spacing(1);
    }

    .heroDescription {
      @include fontSize('xl');
      font-weight: normal;
      line-height: 36px;
    }



    .content {
      padding: 0 spacing(4);
    }

    .sectionTitle {
      @include fontSize('llg');
      margin-bottom: spacing(1);
    }

    .sectionHalf {
      margin-bottom: spacing(6);
    }

    .cta {
      flex-direction: column;

      .ctaButton {
        margin: spacing(1) 0;
      }
    }

    .section {
      padding: spacing(6) 0;
    }
  }
}
