@import '../common/variables';

.home {
  .hero {
    padding: spacing(20) 0;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .logoImg {
      width: 350px;
    }
  }

  .content {
    width: 100%;
    max-width: $maxWidth;
    padding: 0 spacing(8);
  }

  .contentCentered {
      width: 100%;
      max-width: $maxWidth;
      padding: 0 spacing(8);
      text-align: center;
    }


  .heroTitle {
    @include fontSize('lg');
    margin-bottom: spacing(1);
  }

  .heroDescription {
    @include fontSize('xxxl');
    line-height: 56px;
    font-weight: 500;
    margin-bottom: spacing(4);
  }

  .section {
    padding: spacing(12) 0;

    &.sectionImage {
      background-color: aliceblue;
    }
  }

  .sectionTitle {
    @include fontSize('xl');
    margin-bottom: spacing(2);
  }

  .sectionBody {
    margin-bottom: spacing(4);
  }

  .introImg {
    margin-top: spacing(4);
    width: 100%;
    height: auto;
  }

  .cta {
    display: flex;

    .ctaButton {
      min-width: 175px;
        margin: 0 spacing(2);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
  }

  .sectionHalf {
    padding-right: spacing(4);
  }

  .bottomImage {
    max-width: 100%;
  }

  &.small {
    .hero {
      padding: spacing(10) 0 spacing(6);

      &.hasLogo {
        padding-top: spacing(4);
      }
    }

    .heroTitle {
      @include fontSize('md');
      margin-bottom: spacing(1);
    }

    .heroDescription {
      @include fontSize('xl');
      line-height: 36px;
    }

    .logo {
      justify-content: flex-start;
      margin-bottom: spacing(4);

      .logoImg {
        height: auto;
        width: 250px;
      }
    }

    .content {
      padding: 0 spacing(4);
    }

    .sectionTitle {
      @include fontSize('llg');
      margin-bottom: spacing(2);
    }

    .sectionHalf {
      padding-right: 0;
      margin-bottom: spacing(6);
    }

    .cta {
      flex-direction: column;

      .ctaButton {
        margin: spacing(1) 0;
      }
    }

    .section {
      padding: spacing(6) 0;
    }
  }
}
