@import '../common/variables';

.dialog {
  .title h2 {
    display: flex;
    align-items: center;

    .titleIcon {
      margin-right: spacing(1);
    }
  }

  .item {
    min-width: 550px;
  }

  .footer {
    padding: spacing(3) !important;
  }

  &.small {
    .footer {
      flex-direction: column;
    }

    .actionButton {
      align-self: stretch;
      margin: 0;

      &:first-child {
        margin-bottom: spacing(2);
      }
    }
  }
}

