@import '../common/variables';

.container {
  display: flex;

  .name, .price {
    @include fontSize('lg');
  }

  .image {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    padding: spacing(1) 0 spacing(1) spacing(2);
  }

  .info {
    width: 100%;
    padding: spacing(2);
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: spacing(1);
  }

  .description {
    margin-bottom: spacing(2);
  }

  .quantity {
    margin-right: spacing(2);
    height: $buttonHeight;

    > select {
      height: $buttonHeight !important;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .addon {
    margin-left: spacing(1);
  }

  &.small {
    .header {
      flex-direction: column;
      justify-content: flex-start;
    }

    .name {
      @include fontSize('md');
      font-weight: 500;
    }

    .price {
      @include fontSize('md');
    }

    .image {
      width: 100px;
      height: 100px;
    }

    .info {
      padding: spacing(2);
    }
  }
}

