@import '../common/variables';

.centered {
  text-align: center;
}

.container {
  position: relative;
  margin-bottom: spacing(6);
  padding-bottom: spacing(4);

  .header {
    margin-bottom: spacing(1);
  }

  p {
    margin: 0;
  }
}

.anchor {
  position: absolute;
  visibility: hidden;
  top: -100px;
}

.container.small {
  margin-bottom: spacing(3);
  padding-bottom: 0;
}
