@import '../common/variables';

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .title {
    font-weight: 500;
  }

  .title, .email, .phone {
    margin: 0 spacing(2);
    text-align: center;
  }

  &.small {
    flex-direction: column;

    .title, .email, .phone {
      margin: spacing(1) 0;
    }
  }
}
