@import '../common/variables';

.container {
  width: 100vw;
  box-sizing: border-box;
  min-height: $footerHeight;
  padding: spacing(6) 0;
  background-color: #f5f5f5;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: spacing(6);

    .link {
      margin: 0 spacing(2) !important;
      text-transform: capitalize;
    }
  }

  .logo {
    margin: spacing(2) auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .logoImg {
      width: 500px;
    }
  }

  .attribution {
    display: flex;
    justify-content: center;
    margin-top: spacing(2);
  }

  &.small {
    .links {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .link {
        margin: spacing(1) 0 !important;
      }
    }

    .logo {
      margin: spacing(2) auto;

      .logoImg {
        width: 300px;
      }
    }
  }
}

