@import '../common/variables';

.title {
  flex-grow: 1;
}

.menuButton {
  margin-right: spacing(1);
}

.headerLink {
  margin: 0 spacing(2) !important;
  color: white !important;
}

.drawerList {
  min-width: 250px;
}

