@import '../common/variables';

.header {
  background-color: white !important;
  @include shadowBorder('bottom', true);

  .title {
    flex-grow: 1;
    opacity: 1 !important;
  }

  .menuButton {
    margin-right: spacing(1);
  }

  .headerLink {
    margin: 0 spacing(2) !important;
    text-transform: capitalize;
  }
}

.drawerContent {
  min-width: 250px;

  .contact {
    align-items: flex-start;
    margin-top: spacing(2);
    padding-left: spacing(2);
  }

  .contactText {
    text-align: left;
  }
}

