@import '../common/variables';

.header {
  background-color: white !important;
  @include shadowBorder('bottom', true);

  .title {
    flex-grow: 1;
    opacity: 1 !important;
  }

  .menuButton {
    margin-right: spacing(1);
  }

  .headerLink {
    margin: 0 spacing(2) !important;
  }

  .drawerList {
    min-width: 250px;
  }
}

