@import '../common/variables';

.column {
  display: flex;
}

.option {
  display: flex;
  flex-direction: column;
  width: 100%;

  > button {
    vertical-align: top;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    text-align: start;
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .disabledLink {
    color: $colorTextDisabled;
    pointer-events: none;
  }

  .check {
    padding: spacing(2) spacing(1.5) spacing(2) spacing(2);
    align-self: flex-start;
  }

  .label {
    padding: spacing(2.1) 0 spacing(2);

    &.pickupLabel {
      padding-bottom: spacing(1);
    }
  }

  .selectedLocation {
    margin-top: spacing(1);

    .locationName {
      @include fontSize('sm');
      font-weight: 500;
    }

    .locationAddress {
      @include fontSize('sm');
    }
  }

  .title {
    @include fontSize('md');
    font-weight: 500;
  }

  .actions {
    padding-top: 0;
    padding-left: spacing(5.5);
  }

  &.small {
    .content {
      min-height: auto;
    }
  }
}


