@import '../common/variables';

.container {
  display: flex;
  align-items: center;
  padding: spacing(2);
  margin-bottom: spacing(2);

  .icon {
    margin-right: spacing(1);
    align-self: stretch;
  }

  .title {
    @include fontSize();
    font-weight: 500;
    align-self: stretch;
  }

  .label {
    padding-left: spacing(2);
    margin-left: spacing(2);
    @include shadowBorder('left');
    @include fontSize();
  }
}
