@import '../common/variables';

.container {
  display: flex;
  padding-bottom: spacing(4);

  &.large:not(:last-child) {
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.15);
  }

  .content {
    padding: spacing(3) spacing(4) spacing(6);
  }

  .image {
    width: 275px;
    height: 275px;
    flex-shrink: 0;
    padding: 0 spacing(2);
  }

  .title {
    @include fontSize('xl');
    margin-bottom: spacing(1);
  }

  .description, .ctaDescription {
    text-align: justify;
  }

  .cta {
    margin-top: spacing(4);
  }

  .ctaTitle {
    @include fontSize('md');
    font-weight: 500;
  }

  .ctaAction {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ctaAccessories {
    display: flex;
    align-items: center;
  }

  .ctaButton {
    min-width: 140px;
  }

  .quantity {
    margin-right: spacing(2);
    height: $buttonLargeHeight;

    > select {
      height: $buttonLargeHeight !important;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  h5.price {
    @include fontSize('md');
    margin-right: spacing(2);
  }

  &.small {
    flex-direction: column;
    padding-bottom: 0;

    .content {
      padding: spacing(2) spacing(2) spacing(3);
    }

    .title {
      @include fontSize('lg');
    }

    .description {
      margin-bottom: spacing(2);
      white-space: pre-wrap;

      &.short {
        display: block;
        display: -webkit-box;
        max-width: 100%;
        max-height: 48px;
        margin: 0 auto;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }

    .ctaTitle {
      @include fontSize('md');
      margin-bottom: spacing(0.5);
    }

    .ctaDescription {
      margin-bottom: spacing(2);
    }

    .ctaAction {
      flex-direction: column;
    }

    .ctaButton {
      align-self: stretch;
    }

    .ctaAccessories {
      align-self: stretch;
      justify-content: flex-end;
      flex-direction: row-reverse;
      margin-bottom: spacing(1);
    }

  .image {
    width: 200px;
    height: 200px;
    padding: spacing(2) 0;
    margin: 0 auto;
  }
    .description, .ctaDescription {
      text-align: left;
    }

  }

}
