@import '../common/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .imageContainer {
    height: 275px;
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: spacing(2);

    .image {
      max-width: 275px;
      max-height: 275px;
    }
  }


  .name {
    @include fontSize('md');
  }

  .price {
    @include fontSize();
  }
}
