@import url('https://rsms.me/inter/inter.css');
.usa_prose,html,body,div,p,a, button { font-family: 'Inter', sans-serif !important }
@supports (font-variation-settings: normal) {
  html,body,div,p,.usa_prose { font-family: 'Inter var', sans-serif; }
}
#request_form {
  width: 100%;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 25px;
  }

  input, span {
    display: block;
    width: 50%;
  }
}
.clearfix {
  clear: both;
}
.product-box {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  vertical-align: top;
  border: 1px solid silver;
  cursor: pointer;

  .product {
    height: 250px;
    background-size: cover;
    cursor: pointer;
    border: 2px solid transparent;
    vertical-align: middle;

    &:hover, &:active, &:focus {
      border: 2px solid blue;
    }
  }

  .product-desc {
    padding: 10px;
    font-size: 90%;

    h4 {
      margin-top: 0;
      font-weight: 600;
    }
  }
}

.product-desc a, .formbox a, .product-desc .linklike {
  text-decoration: none;
  color: #09f;
}

.mainmap {
  float: right;
  width: 300px;
  height: 300px;
}

.out_of_order {
  color: red;
  font-weight: bold;
}

.stores {
  padding-top: 20px;
}

section a, section a:visited, section a:focus {
  text-decoration: none;
  color: #000;
}

.store {
  width: 20%;
  margin-right: 2%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid silver;
  display: inline-block;
  visibility: hidden;

  strong {
    display: block;
  }
}
.store-home {
  visibility: visible;
}

.col {
  display: inline-block;
  width: 45%;
  margin-right: 3%;
  vertical-align: top;

  & > img {
    max-width: 100%;
  }

  h3 {
    margin-top: 0;
  }
}

.formbox {
  width: 100%;
  background: #eee;
  padding: 10px;
  font-size: 85%;
  margin-bottom: 15px;

  .splitter {
    width: 48%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: middle;

    &.floater {
      text-align: right;
      margin-right: 0;
    }
  }

  input {
    max-width: 40%;
    font-size: 120%;
    padding: 10px;
    margin-right: 22px;
  }

  button {
    background: #444;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
  }

  input, button {
    display: inline-block;
    text-align: center;
  }

  .price {
    font-weight: bold;
    font-size: 140%;
  }
}

button.floater {
  float: right;
}
