@import '../common/variables';

.content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  padding: spacing(3);

  .title {
    font-size: 36px;
    margin-bottom: spacing(3);
  }

  &.small {
    padding: spacing(2);

    .title {
      font-size: 28px;
      margin-bottom: spacing(2);
    }
  }
}
