@import '../common/variables';

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  max-width: $maxWidth;
  padding: spacing(4) spacing(6) spacing(8);

  .header {
    margin-bottom: spacing(6);
  }

  .title {
    @include fontSize('xxl');

    &.hasDescription {
      margin-bottom: spacing(1);
    }
  }

  .description {
    @include fontSize('m');
  }

  &.small {
    padding: spacing(4) spacing(2) spacing(6);

    .header {
      margin-bottom: spacing(4);
      padding: 0;
    }

    .title {
      font-size: 28px;

    }
  }
}
